<ion-view view-title="{{personName}}">
  <ion-content>
    <div >
      <img style="width: 40px; border-radius: 25px;margin-left: 10px; margin-top:10px; vertical-align: middle;" src="img/person{{personId}}.jpg">
      <font size="4">{{chats[personId]}}</font>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <label class="item item-input" style="width: 79%;">
      <input type="text" placeholder="Type a message">
    </label>
    <button class="button button-calm icon-right ion-chevron-right " style="width: 20%; margin-left: 1%;">Send</button>
  </div>
</ion-view>
