<ion-view view-title="Feedback">
  <ion-content>
    <div class="list">
      <br/>
      <h4 style="margin-left:10px;">Please, rate your feelings towards the help provided.</h4>
      <div class="item">
        <p>Comfortable: {{data.comfortable}}</p>
        <div class="range range-positive" style="height:20px;">
          <input type="range" name="comfortable" min="1" max="10" value="5" ng-model="data.comfortable">
        </div>
      </div>
      <div class="item">
        <p style="width:120px;">Kindness: {{data.kind}}</p>
        <div class="range range-positive" style="height:20px;">
          <input type="range" name="kind" min="1" max="10" value="5" ng-model="data.kind">
        </div>
      </div>
      <div class="item">
        <p style="width:120px;">Helpful: {{data.helful}}</p>
        <div class="range range-positive" style="height:20px;">
          <input type="range" name="helful" min="1" max="10" value="5" ng-model="data.helful">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
