<ion-view view-title="Home">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        About us
      </div>
      <div class="item item-text-wrap">
        Care4U is an application that improves the patient-care takers relationship and patient’s feeling of well-being in the hospital.<br/>
        <br/>
        Care4U includes following features:
        <li>Visual daily treatment plan.</li>
        <li>Personal profiles of care teams.</li>
        <li>Intra-hospital social network.</li>
        <li>Achievement tracker.</li>
        <br/>
        Your information is safely stored and easily shared with your significant other including your friends, family, patient groups and health care practitioners.
      </div>
    </div>
  </ion-content>
</ion-view>
