<ion-view view-title="Patient details">
  <ion-content>
  <h1 style="margin: 20px">Paul Patience</h1>
    <div class="card">
      <div class="item item-divider">
        Personal information
      </div>
      <div class="item item-text-wrap">
        <table style="width:100%">
          <tr>
            <td style="width: 160px;"><b>Born:</b></td>
            <td>February 19th, 1965 (50 years old).</td>
          </tr>
          <tr>
            <td style="width: 160px;"><b>Profession:</b></td>
            <td>Carpenter</td>
          </tr>
          <tr>
            <td style="width: 160px;"><b>Insurance number:</b></td>
            <td>YAI 4691</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Emergency contact
      </div>
      <div class="item item-text-wrap">
        <table style="width:100%">
          <tr>
            <td style="width: 160px;"><b>Name:</b></td>
            <td>Sofia Happyfeet</td>
          </tr>
          <tr>
            <td style="width: 160px;"><b>Phone number:</b></td>
            <td>+41 723 64 6575</td>
          </tr>
          <tr>
            <td style="width: 160px;"><b>Relationship:</b></td>
            <td>Spouse</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Leisures
      </div>
      <div class="item item-text-wrap">
        <table style="width:100%">
          <tr>
            <td style="width: 160px;"><b>Interests:</b></td>
            <td>Environmental care; Sustainability.</td>
          </tr>
          <tr>
            <td style="width: 160px;"><b>Sports:</b></td>
            <td>Golf.</td>
          </tr>
          <tr>
            <td style="width: 160px;"><b>Lectures:</b></td>
            <td>The House of God; Alcools.</td>
          </tr>
        </table>
      </div>
    </div>
  </ion-content>
</ion-view>
