<ion-view view-title="{{profile.title}}">
  <ion-content>
    <ion-item  class="profile-picture big-profile-picture">
      <table><tr>
      <td><img src="img/{{profile.pic}}"></td>
      <td><h3>{{profile.title}}</h3></td>
    </tr></table>
      </ion-item>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
    </div>
  </ion-content>
</ion-view>
