<ion-view view-title="{{profile.title}}">
  <ion-content>
    <!--<div class="bar bar-header bar-royal">-->
      <h1 class="title">{{profile.title}}</h1>
    <!--</div>-->
    <!--<div class="bar bar-subheader bar-positive">-->
      <h2 class="title">{{profile.job}}</h2>
    <!--</div>-->
    <div>
    <ion-item  class="profile-picture big-profile-picture">
      <img src="img/{{profile.pic}}">
      </ion-item>
      <h3>{{profile.description}}</h3>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
        <button class="button icon-left ion-star button-positive">Favorites</button>
      </div>
    </div>
  </ion-content>
</ion-view>
