<ion-view view-title="Questions">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        List your questions:
      </div>
      <div class="item item-text-wrap">
        <input type="text" placeholder="Questions">
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-assertive" style="width: 100px;">Cancel</button>
    <button class="button button-balanced" style="width: 100px;">Save</button>
  </div>
</ion-view>
