<ion-view view-title="Schedule Timeline">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="timelinedetail in timeline" class="item item-icon-left" href="#/app/timelinedetail/{{timelinedetail.id}}">
          <icon class="icon {{timelinedetail.icon}}"></icon>
          <h2>{{timelinedetail.title}}</h2>
          <p>{{timelinedetail.start}}-{{timelinedetail.end}}</p>
          <p>{{timelinedetail.description}}</p>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
