<ion-view view-title="Schedule Timeline">
  <ion-content>
    <div class="list card">
      <div class="item">
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 100px; float: left;">
            <a href="#/app/profile/{{profile.id}}">
              <img style="width: 90px; border-radius: 50px;" src="img/{{profile.pic}}"></img>
            </a>
          </div>
          <div style="margin-left: 110px;">
            <h2>{{timelinedetail.title}}</h2>
            <p>from {{timelinedetail.start}} to {{timelinedetail.end}}</p>
            <p>with {{profile.title}}</p>
            <p>{{timelinedetail.description}}</p>
          </div>
        </div>
      </div>
      <div class="item item-body">
        <p>{{timelinedetail.fullDescription}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#app/questions">
          <i class="icon ion-help"></i>
          Questions
        </a>
        <a class="tab-item" href="#app/feedbackdetail/1">
          <i class="icon ion-happy-outline"></i>
          Feedback
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
