<ion-view view-title="Schedule Timeline">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/nourse_1.jpg">
        <h2>{{event.title}}</h2>
        <p>from {{event.start}} to {{event.end}}</p>
        <p>{{event.description}}</p>
      </div>
      <div class="item item-body">
        <p>{{event.fullDescription}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-help"></i>
          Questions
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-happy-outline"></i>
          Feedback
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
